#tabs {
    display: flex;
	flex-flow: row;
	width: 100%;
}

.tab {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.tab.active {
	background-color: white;
	border-bottom: 0;
}

#locations {
	padding: 5px;
	overflow: auto;
	height: 100%;
}

.location {
	display: none;
}

.location.active {
	display: block;
}

.kingdom {
	width: 100%;
}

.kingdom + .kingdom {
	border-top: 2px solid black;
}

.played {
	text-decoration: line-through;
	background-color: lightgray;
}

.kingdomName {
	font-size: 1.5em;
	font-weight: bold;
}

.error {
	font-size: 1.5em;
	font-weight: bold;
	color: red;
}
